/* rest-css*/
html,body,img,div,marquee{
  padding:0;
  margin: 0;
}
html{
    /* background: #fff; */
}
body{
    background: -webkit-linear-gradient(left, #0c1854 , #0c1854);
    /* max-width: 750px;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    height: 100%;*/
}
div.home{
  width: 100%;
  height: 100%;
  position: relative;
}
img{
  display: block;
}
img.homepic{
  width: 100%;
  height: 100%;
}
.bg_active{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.word-wrap{
    width: 265px;
    height: 185px;
    background:url(../img/frame.png) no-repeat;
    background-size: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    top: 20%;
    right: 0;
    animation: fadeleft 2s linear;
    transform: translate(0px, 0px);
}
@keyframes fadeleft{
    0%{
        transform: translate(-200px, 0px);
    }
    100%{
        transform: translate(0, 0px);
    }
}
.text{
    width: 238px;
    height: 185px;
    animation: faderight 2s linear ;
    transform: translate(0px, 0px);
}


.line-wrap{
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}
.line{
   width: 20px;
   height: 20px;
   background: #fff;
   position: absolute;
   left: 20%;
   top: 20%;
   border-radius: 50%;
   animation: fadein 2s linear 0s infinite;
   opacity: 1;
}
.line.line1{
    left: 30%;
    top: 10%;
 }
.line.line2{
    left: 30%;
    top: 10%;
 }
 .line.line3{
    top: 20%;
 }
 .line.line4{
    left: 60%;
    top: 15%;
 }
 .line.line5{
    left: 80%;
    top: 13%;
 }
 .line.line6{
    left: 5%;
    top: 40%;
 }
 .line.line7{
    left: 30%;
    top: 80%;
 }
 .line.line8{
    left: 50%;
    top: 40%;
 }
 .line.line8{
    left: 70%;
    top: 60%;
 }

.robot{
    position: absolute;
    bottom: 10%;
    left: 56%;
    width: 60px;
    z-index: 2;
    animation: fangda 5s linear 2s infinite alternate;
    /* -webkit-transition: -webkit-transform 2s ease-out;
    -moz-transition: -moz-transform 2s ease-out;
    -o-transition: -o-transform 2s ease-out;
    -ms-transition: -ms-transform 2s ease-out; */
}
.robotimg{
    width: 100%;
}
.flame{
    position: absolute;
    bottom: 0px;
    position: absolute;
    right: -2px;
    bottom: 5px;
    animation: fangda 1s linear 2s infinite alternate;
    width: 36px;
}
/* .robot:hover {
    -webkit-transform: rotateZ(360deg);
    -moz-transform: rotateZ(360deg);
    -o-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
} */

.company{
    width: 100%;
    height: 100%;
    position: relative;
}
.companypic{
    width: 100%;
    height: 100%;

}
.start-wrap{
    width: 37.5px;
    height: 80px;
    position: absolute;
    background: url(../img/start-pipe.png) no-repeat left bottom;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: 100%;
    z-index: 10;
}
.end{
    width: 32px;
    height: 38%;
    position: absolute;
    background: rgba(63, 124, 168,1);
    margin: auto;
    left: 0;
    right: 0;
    top: 0;   
}
.robort-bg{
    position: absolute;
    left: 10px;
    top: 10%;
    right: 0%;
    width: 121px;
    z-index: 3;
    animation: fangda 5s linear 2s infinite alternate;
}
.homebtn{
    position: absolute;
    left: -25px;
    top: -21px;
    right: 0%;
    width: 86px;
    z-index: 3;
    animation: startbtn 5s linear 2s infinite alternate;
}

.robort-bg.second{
    top: 40%;
}
.robort-bg.third{
    top: 70%;
}
.pipe{
    width: 37.5px;
    height: 100%;
    position: absolute;
    background: rgba(63, 124, 168,1);
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.pipe .dot{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../img/ptwo.png);
    background-size: 100%;
    margin: 71px 0;
    /* animation: fangda2 5s linear 2s infinite ;  */
    /* animation: pipeswiper 5s linear 0s infinite; */
}
/* @keyframes pipeswiper{
    0%   {}
	50%  {transform: scale(0.9, 0.9) translate(0, 0px);}
	100% {transform: scale(1, 1) translate(0, 600px);}
} */
.pipe.half{
    width: 37.5px;
    height: 50%;
    position: absolute;
    background: rgba(63, 124, 168,1);
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: unset;
    z-index: -1;
}

.main-content{
    overflow-x: scroll;
    overflow-y: hidden;
    /* width: 100%;
    height: 100%; */
}
.inner-wrapper{
    /* width: 100%; */
    height: 100%;
    position: relative;
    width: 2800px;
    overflow: hidden;
}
.position{
    /* width: 400px; */
    /* width: 100%; */
    height: 100%;
    position: relative;
    float: left;
    /* left: -100%; */
    /* top: 0; */
}
.research{
    /* left: 0; */
}
.researchpic{
    width: 100%;
    height: 100%;
}
.researchgif{
    position: absolute;
    left: 30px;
    top: 120px;
    width: 133px;
    z-index: 1;
    animation: upAndDown 5s linear 2s infinite alternate;
}
.guangsu{
    position: absolute;
    top: 28%;
    right: 11%;
    width: 151px;
    animation: guangsuDown 5s linear 0s infinite alternate;
    height: 218px;
}
.guangsu.guangsu2{
    top: 37%;
    left: 26%;
    width: 151px;
    animation: opcaityTran 5s linear 0s infinite alternate;
    height: 218px;
    height: 218px;
}
@keyframes opcaityTran{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes faderight{
    0%{
        transform: translate(200px, 0px);
    }
    100%{
        transform: translate(0, 0px);
    }
}
@keyframes fadein
{
	0%   {opacity: 1;}
	50%  {transform: scale(0.9, 0.9) translate(0, 50px);}
	100% {opacity: 0;transform: scale(1, 1) translate(0, 150px);}
}

@keyframes fangda
{
    0% {
        transform: scale(1, 1);
    }
    
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(0.8, 0.8);
    }
}

@keyframes startbtn{
    0%{
        transform: scale(1);
        /* matrix 方法有六个参数，包含旋转，缩放，移动（平移）和倾斜功能 */
        opacity: 1;
    }
    50%{
        transform:  scale(0.89);
        opacity: 0.6;
    }
    100%{
        transform:  scale(1);
        opacity: 1;
    }
}
@keyframes fangda2
{
	0%   {transform: scale(1, 1);}
	50%  {transform: scale(0.8, 0.8);}
	100% {transform: scale(1.3, 1.3);}
}
 @keyframes guangsuDown{
    0%   {height: 218px;}
	50%  {}
	100% {height: 80px;top: 43%;}      
}
@keyframes move{
    0%   {transform: translate(20px,0);}
	50%  {transform: translate(100px,0);}
	100% {transform: translate(20px,0);}   
} 

@keyframes upAndDown{
    0%{
             transform: translate(0, 0);
         -ms-transform:translate(0px,0px); /* IE 9 */
     -webkit-transform:translate(0px,0px); /* Safari and Chrome */
    }
    50%{
             transform: translate(0px, 30px);
         -ms-transform:translate(0px,30px); /* IE 9 */
     -webkit-transform:translate(0px,30px); /* Safari and Chrome */
    }
    100%{transform: translate(0, 0)}
 }
 @keyframes slownupAndDown{
    0%{
             transform: translate(0, 0);
         -ms-transform:translate(0px,0px); /* IE 9 */
     -webkit-transform:translate(0px,0px); /* Safari and Chrome */
    }
    50%{
             transform: translate(0px, 10px);
         -ms-transform:translate(0px,10px); /* IE 9 */
     -webkit-transform:translate(0px,10px); /* Safari and Chrome */
    }
    100%{transform: translate(0, 0)}
 }
 @keyframes translateAndScale
 {
     0%   {transform: translate(50px,50px);}
     50%  {transform: scale(0.8, 0.8);}
     100% {transform: scale(1.1, 1.1);}
 }
 @keyframes circle{
    0%{
        transform: rotateZ(0deg);   
    }
    100%{
        transform: rotateZ(360deg);   
    }
}
.creategif{
    position: absolute;
    left: 30px;
    top: 22%;
    transform: skew(120deg,0deg);
    width: 160px;
    animation: upAndDown 5s linear 2s infinite alternate;
}
.autogif{
    position: absolute;
    left: 50px;
    top: 30%;
    /* transform: skew(120deg,0deg); */
    width: 102px;
    animation: upAndDown 5s linear 2s infinite alternate;
}
.itgif{
    position: absolute;
    left: 50px;
    top: 5%;
    width: 149px;
    animation: upAndDown 5s linear 2s infinite alternate;    
}
.positiongif{
    position: absolute;
    left: 50px;
    top: 23%;
    width: 130px;
    animation: upAndDown 5s linear 2s infinite alternate;
    z-index: -1;
}
.salegif{
    position: absolute;
    left: 39%;
    top: 26%;
    width: 102px;
    animation: slownupAndDown 3s linear 2s infinite alternate;  
}

.rotaterobort{
    position: absolute;
    left: 0%;
    top: 21%;
    width: 102px;
    animation: move 3s linear 1s infinite alternate;
}

.introduce{
    position: absolute;
    width: 80%;
    left: 0;
    top: 0;
    bottom: 0%;
    right: 0;
    margin: auto;
    height: 80%;
    background: rgb(112, 123, 181,0.4);
    border-radius: 5px;
    border: 1px solid rgba(203, 210, 255, 0.22);
}
.title{
    color: #fff;
    font-size: 20px;
    text-align: center;

}
.content{
  padding: 20px;
  color: #fff;
}
.robortEnd{
    position: absolute;
    right: 30%;
    top: 10%;
    width: 150px;
    animation: translateAndScale 5s linear 0s infinite alternate;  
}
.shineDot{
    position: absolute;
    right: 3%;
    bottom: 25%;
    width: 82px;
    animation: fangda 5s linear 2s infinite alternate;
}
.music-wrap{
    position: fixed;
    right: 20px;
    top: 20px;
}
.music{
    width: 30px;
    animation: circle 2s linear 1s infinite;
}
audio{
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
